<h1> <%= @book.title %> </h1>
<% if @reviews.empty? %>
  <%= "There are no reviews for this book yet" %>
<% else %>

  <div class="highest_rating">
    <%= "Highest Rating: #{@book.highest_rating.rating}" %>
    <%= "Review: #{@book.highest_rating.body}" %>
    <%= "Reviewer: #{@book.highest_rating.user.name}" %>
  <div>
  <div class="lowest_rating">
    <%= "Lowest Rating: #{@book.lowest_rating.rating}" %>
    <%= "Review: #{@book.lowest_rating.body}" %>
    <%= "Reviewer: #{@book.lowest_rating.user.name}" %>
  <div>
  <%= "Average Rating: #{@book.average_rating} " %>
  <% @reviews.each do |review| %>
    <%= review.user.name %>
    <%= review.body %>
    <%= review.rating %>
  <% end %>
<% end %>
